*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(
        43deg,
        rgb(98, 245, 134) 0%,
        rgb(98, 216, 245) 59%,
        rgb(223, 120, 243) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.Relogio{
    position: relative;
    content: '';
    background: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(1px);
    border-radius: 15px;
    border-radius: 50%;
}

.Relogio .number{
    --rotation: 0;
    position: absolute;
    width: 100%;    
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation)); 
    font-size: 30px;  
}

.Relogio .number.hours-1{
    --rotation: 30deg;
}
.Relogio .number.hours-2{
    --rotation: 60deg;
}
.Relogio .number.hours-3{
    --rotation: 90deg;
}
.Relogio .number.hours-4{
    --rotation: 120deg;
}
.Relogio .number.hours-5{
    --rotation: 150deg;
}
.Relogio .number.hours-6{
    --rotation: 180deg;
}
.Relogio .number.hours-7{
    --rotation: 210deg;
}
.Relogio .number.hours-8{
    --rotation: 240deg;
}
.Relogio .number.hours-9{
    --rotation: 270deg;
}
.Relogio .number.hours-10{
    --rotation: 300deg;
}
.Relogio .number.hours-11{
    --rotation: 330deg;
}

.Relogio .ponteiro{
    --rotation:0;

    position: absolute;
    bottom: 50%;
    left: 50%; 
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 10;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.Relogio::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 11;
    background-color: black;
    transform: translate(-50%, -50%);
}

.Relogio .ponteiro.segundos{
    width: 3px;
    height: 40%;
    background-color: crimson;
}
.Relogio .ponteiro.minutos{
    width: 7px;
    height: 35%;
    background-color: black;
}
.Relogio .ponteiro.minutos{
    width: 10px;
    height: 25%;
    background-color: black;
}